# hide almost everything from repo
/*
!/User
/User/*
!/User/*.jsbeautifyrc
!/User/*.settings
!/User/*.sublime-keymap
!/User/*.sublime-settings
/User/*/
*.gitignore
#hide cache
*Control.cache

# custom packages settings
!/Seti_UI
/Seti_UI/*
!/Seti_UI/Seti.sublime-theme

!/HTML-CSS-JS Prettify
/HTML-CSS-JS Prettify/*
!/HTML-CSS-JS Prettify/HTMLPrettify.sublime-settings

# file templates
!/FileHeader
/FileHeader/*
!/FileHeader/template
/FileHeader/template/*
!/FileHeader/template/header

# don't ignore base readme
!README.md
*/README.md