# hide all by default
*

# explicitly include directories and their contents
!/
!/Babel\ Snippets/
/Babel\ Snippets/*

!/Default/
!/Default/*.sublime-menu

!/Emmet\ Css\ Snippets/
/Emmet\ Css\ Snippets/*

!/FileHeader/
/FileHeader/*

!/JsPrettier/
/JsPrettier/*

!/PostCSS\ Sorting/
/PostCSS\ Sorting/*

!/Seti_UI/
/Seti_UI/*

!/Seti_UX/
/Seti_UX/*

!/SublimeCodeIntel/
/SublimeCodeIntel/*

!/SublimeLinter-contrib-terraform/
/SublimeLinter-contrib-terraform/*

!/SublimeLinter-contrib-twiglint/
/SublimeLinter-contrib-twiglint/*

!/Terminal/
/Terminal/*

!/User/
/User/*

# explicitly include specific files within the User directory
!/User/*.sublime-settings
!/User/*.sublime-keymap
!/User/*.jsbeautifyrc
!/User/*.sublime-commands
!/User/formatter.assets/**

# always ignore the log
User/Xdebug.log

# custom packages settings
!/Seti_UI/Seti.sublime-theme

# Add to Context
/AddToContext/*
/User/AddToContext.sublime-settings

# file templates
!/FileHeader/template/header

# custom menus
!/User/Main.sublime-menu

# don't ignore base readme files
!README.md
!packages-to-install.md
!DetailsREADME.md
*/
README.md

# hide cache
*Control.cache
