# hide almost everything from repo
/*
!/User
/User/*
!/User/*.settings
!/User/*.jsbeautifyrc
!/User/*.sublime-commands

# is there a use case for not making public any of these file type settings?
!/User/Python.sublime-settings

/User/*/
*.gitignore
#hide cache
*Control.cache

# custom packages settings
!/Seti_UI
/Seti_UI/*
!/Seti_UI/Seti.sublime-theme

!/CoolFormat
/CoolFormat/*
!/CoolFormat/CoolFormatLib
/CoolFormat/CoolFormatLib/*
!/CoolFormat/CoolFormatLib/CoolFormatConfig.cfconfig

# file templates
!/FileHeader
/FileHeader/*
!/FileHeader/template
/FileHeader/template/*
!/FileHeader/template/header

# custom menus
!/User/Main.sublime-menu

# don't ignore base readme
!README.md
!packages-to-install.md
!DetailsREADME.md
*/README.md